<script type="text/template" id="home-view">
	<div class="m--login">
		<div class="bosom">
			<form class="login" action="">
				<legend>
					<div class="row"><input id="__username" type="" placeholder="Give us yr Hacker News handle!" /></div>
				</legend>
			</form>
		</div>
	</div>
	<div class="m--overview">
		<div class="bosom">
			<ul class="glob submissions">
				<li>Submissions</li>
			</ul>
			<ul class="glob comments">
				<li>Comments</li>
			</ul>
			<ul class="glob heartbeats">
				<li>Heartbeats</li>
			</ul>
		</div>
	</div>
