%script{ :type => "text/template", :id => "home-view" }
  .m--login{:class => ""}
    .bosom
      %form{:class => ""}
        %legend
          .row
            %input{:placeholder => "Give us yr Hacker News handle!", :id => "__handle"}
  .m--overview{:class => ""}
    .bosom
      %ul.glob.submissions
        %li Whatevs
      %ul.glob.comments
        %li Whatevs
      %ul.glob.heartbeats
        %li Whatevs

