<div class="layout">
  <div id="graph"></div>
  <div id="lookup">
    <input
      type="text"
      autocomplete="off"
      id="lookupUser"
      name="lookupUser"
      value="" />
  </div>
</div>
