<div class="m--login" id="login">
  <div class="bosom">
    <h1>Hacker News Heartbeat</h1>
    <form 
      id="login" 
      class="login" 
      method="post">

      <fieldset>
        <legend>Login</legend>
        <div class="form-row">
          <input 
            id="__username__" 
            name="username" 
            type="text" 
            placeholder="Give us yr Hacker News handle!" />
        </div>
      </fieldset>

    </form>
  </div>
</div>

