{% load staticfiles sekizai_tags %}
{% load url from future %}

!!! 5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  %head

    -# USER AGENT
    -# ==========================================================================

    %meta{:charset => "utf-8"}
    %meta{:http-equiv => "X-UA-Compatible", :content => "IE=edge,chrome=1"}


    -# SEO
    -# ==========================================================================

    %title Hacker News Heartbeat!
    %meta{:name => "description", :content => "Hacker News Heartbeat"}
    -# %meta{:name => "keywords", :content => ""}
    -# %meta{:name => "author", :content => ""}


    -# Mobile
    -# ==========================================================================

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    -# %meta{:name => "HandheldFriendly", :content => "True"}
    -# %meta{:name => "MobileOptimized", :content => "320"}

    -# iOS web app

    -# %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    -# %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
    -# %link{:rel => "apple-touch-startup-image", :href => "{% static 'images/touch/startup.png' %}"}


    -# RSS
    -# ==========================================================================

    -# %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://feeds.feedburner.com/FEEDNAME"}


    -# Favicon
    -# ==========================================================================

    %link{:href => "{% static 'images/favicon.ico' %}", :rel => "shortcut icon"}

    -# iPad 3 Retina Display

    -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "{% static 'images/touch/apple-touch-icon-144x144-precomposed.png' %}"}

    -# iPhone 4 Retina display

    -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "{% static 'images/touch/apple-touch-icon-114x114-precomposed.png' %}"}

    -# iPad non-Retina display

    -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "{% static 'images/touch/apple-touch-icon-72x72-precomposed.png' %}"}

    -# Non-Retina iPhone, iPod Touch, Android 2.1+

    -# %link{:rel => "apple-touch-icon-precomposed", :href => "{% static 'images/touch/apple-touch-icon-57x57-precomposed.png' %}"}

    -# Nokia

    -# %link{:rel => "shortcut icon", :href => "{% static 'images/touch/apple-touch-icon.png' %}"}


    -# CSS
    -# ==========================================================================

    %link{:rel => "stylesheet", :href => "{% static 'styles/main.css' %}"}
    -# %link{:rel => "stylesheet", :media => "only screen and (min-width: 45em)", :href => "{% static 'styles/css/widescreen.css' %}"}


    -# IE Fixes
    -# ==========================================================================

    /[if (lt IE 9) & (!IEMobile)]
        -# %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
        %script{:src => "{% static 'js/vendor/selectivizr.js' %}" }
        -# %link{:rel => "stylesheet", :href => "{% static 'styles/css/oldie.css' %}"}
        -# %link{:rel => "stylesheet", :href => "{% static 'styles/css/ie8.css' %}"}

    -# [if (lt IE 8) & (!IEMobile)]
        %link{:rel => "stylesheet", :href => "{% static 'styles/css/ie7.css' %}"}

    -# [if IE 6 & (!IEMobile)]
        %link{:rel => "stylesheet", :href => "{% static 'styles/css/ie6.css' %}"}

    -# JS
    -# ==========================================================================

    -# %script{:src => "{% static 'js/vendor/modernizr.js' %}"}
    %script{:src => '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js' }

    %meta{ :name => 'x-csrf-token', :content => '{{ csrf_token }}' }

  %body{:class => "app--hn-heartbeat"}

    %section{:class => "r--access"}

    %section{:class => "s--header"}
      %div{:class => "r--login"}

    %section{:class => "r--graph"}

    %section{:class => "s--footer"}
      %ul
        %li
          %a{:href => "#home", :title => "socialbeat.io"} socialbeat.io
        {% if user.is_authenticated %}
        %li
          %a{:href => "{% url 'admin:index' %}", :title => "Django backend"} Dashboard
        %li
          %a{:href => "{% url 'admin:logout' %}", :title => "Log out"} Log out
        {% else %}
        %form{:action => "{% url 'admin:index' %}", :method => "POST"}
          {% csrf_token %}
          %input{:id => "username-field", :name => "username", :type => "text"}
          %input{:id =>"password-field", :name => "password", :type => "password"}
          %input{:name => "this_is_the_login_form", :value => "1", :type => "hidden"}
          %input{:type => "hidden", :name => "next", :value => "{% url 'admin:index' %}"}
          %button{:type => "submit"} Login
        {% endif %}

    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

    -# :javascript
    -#   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    -#   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    -#   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    -#   s.parentNode.insertBefore(g,s)}(document,'script'));

    -# %script{:data-main => "{% static 'js/main' %}", :src => "{% static 'js/vendor/require.js' %}"}
    %script{:data-main => "{% static 'scripts/boot' %}", :src => "//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js"}

</html>
